*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}
.navbar .logo{
    padding:0 25px;
}
.simple-container{
    background: pink;
    padding-bottom: 95px;
}
.center-container{
    background:rgba(0, 121, 0, 0.662);
}
.plan-container{
    margin: 0 288px;
    padding: 24px 38px 28px 38px;
    background-color: yellowgreen;
}

/* .plan-card{
    flex-grow: 2;
} */
.form-plan-section{
    display: flex;
    gap: 12px;
    justify-content: stretch;
}

.signin a{
    text-decoration: none;
    color:#212121;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 25px;
}
.signup-steps{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px 0 200px;
}
.signup-home{
    width:100%;
    max-width: 360px;
    text-align: center;
}
.product-img img{
    width:260px;
    margin:0 0 20px 0;
}
.steps-counter span{
    font-size: 0.8rem;
}
.steps-counter h1{
    font-size: 2rem;
    margin-bottom: 12px;
}
.context{
    font-size: 1.2rem;
    color:#535353;
}
.next-btn{
    width:fit-content;
    padding-top: 24px;
}
.next-btn button{
    font-size: 1.3rem;
    color:#fff;
    background-color: #E50914;
    border: none;
    padding:20px 160px;
    border-radius: 5px;
}
.plan-card{
    background:red;
    padding:10px;
    border-radius: 15px;
}
.plan-card span{
    display: block;
    margin-bottom:10px;
}


footer{
    background: #efefefbd;
    color:#737373;padding-bottom: 20px;
    border-top: 1px solid #d7d7d7;
}
.footer-box{
    padding-top: 30px;
    margin:0 37px;
}
.footer-box .contact{
    margin-bottom: 16px;
}
.footer-box ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 16px;
}
.footer-box ul li{
    list-style: none;
    padding-right: 16px;
    margin-bottom: 16px;
}